body {
  font-family: "Quicksand", sans-serif;
  background-color: #cee5d0;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 56px;
  font-weight: 100;
  color: #181d31;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app {
  max-width: 700px;
  margin: 20px auto;
}

.weather-app-wrapper {
  border: 1px solid #fed2aa;
  border-radius: 10px;
  box-shadow: 10px 3px 11px rgba(0, 0, 0, 5%);
  padding: 30px;
  margin-bottom: 3px;
  background-color: #f3f0d7;
}

.overview {
  margin-bottom: 30px;
}

.current-temperature img {
  height: 80px;
  width: 80px;
}

.temperature-description strong {
  font-size: 80px;
}

.temperature-description {
  display: inline;
  position: relative;
  top: 24px;
}

.temperature-description .units {
  position: relative;
  top: -44px;
  text-decoration: none;
}

.temperature-description .active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.temperature-description .active:hover {
  text-decoration: none;
}
