body {
  font-family: "Quicksand", sans-serif;
  background-color: #deedf0;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 56px;
  font-weight: 100;
  color: #181d31;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

small a {
  text-decoration: none;
}

.weather-app {
  max-width: 700px;
  margin: 20px auto;
}

.weather-app-wrapper {
  border: 1px solid #dddbc7;
  border-radius: 10px;
  box-shadow: 10px 3px 11px rgba(0, 0, 0, 5%);
  padding: 30px;
  margin-bottom: 3px;
  background-color: #fff5eb;
}

.overview {
  margin-bottom: 30px;
  font-size: 18px;
}

.overview .description {
  font-weight: bold;
}

.current-temperature img {
  height: 80px;
  width: 80px;
  position: relative;
  top: -50px;
}

.current-temperature {
  height: 80px;
  padding-left: 50px;
}

.temperature-description strong {
  font-size: 80px;
}

.temperature-description {
  display: inline;
  position: relative;
  top: -28px;
}

.temperature-description .units {
  position: relative;
  top: -44px;
}

.temperature-description .active {
  color: black;
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}

.temperature-description .active:hover {
  text-decoration: none;
}

.temperature-info {
  font-size: 16px;
  padding-left: 50px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
  color: rgba(3, 3, 3, 0.521);
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-forecast-temperature-max {
  font-weight: 700;
}
